
<div class="container">
     
    <div class="phnimg">
        <!-- <img ng-src="{{components/images2.jpg}}" alt="" height="500px" id="img1" class="visible"> -->
        <img src="image/images2.jpg" alt="" height="500px" id="img2" class="hidden">
        <img src="image/images3.jpg" alt="" height="500px" id="img3" class="hidden">
        <img src="image/images4.jpg" alt="" height="500px" id="img4" class="hidden">
        <img src="image/images5.jpg" alt="" height="500px" id="img5" class="hidden">
    </div>
    <div class="boxcontainer">
    <div class="mainbox" >
        <h1>Instagram</h1>
        <div class="box">
        <input type="text" placeholder="Phone number,username, or gmail">
        <input type="password" placeholder="Password">
        
        <button class="btn btn-primary" style="width: 250px; margin:5px 0px">Login</button>
    </div>
    <div class="line">
            <hr>
            OR 
            <hr>
            </div>
    <div class="secondbox">
        <div class="fb">
            <a href="https://facebook.com">
            <img src="image/fbimg.jpg" alt="">
            Login to facebook</a>   
        </div>
        <div class="forget">
           <a routerLink="forgetpassword"> Forget Password?</a>           
         </div>
    </div>
    </div>
   <div class="mainsecondbox">
    Don't have any account?<a href="">Sign up</a>
   </div>
   <div class="thirdbox">
    Get the app
    <div class="nav">
        <li><a href="https://www.apple.com/in/?afid=p238%7Csfo291LJq-dc_mtid_187079nc38483_pcrid_627481405369_pgrid_109516736059_pntwk_g_pchan__pexid__&cid=aos-IN-kwgo-brand--slid---product-"><img src="image/apple store.jpg" alt=""></a></li>
        <li><a href="https://play.google.com/store/apps?utm_source=apac_med&utm_medium=hasem&utm_content=Dec1721&utm_campaign=Evergreen&pcampaignid=MKT-EDR-apac-in-1003227-med-hasem-ap-Evergreen-Dec1721-Text_Search_BKWS-BKWS%7cONSEM_kwid_43700058906730466_creativeid_480915691177_device_c&gclid=EAIaIQobChMIiIKO2fvn-gIVv5lmAh098QFlEAAYASAAEgJAgvD_BwE&gclsrc=aw.ds"><img src="image/google store.png" alt=""></a></li>
    </div>
   </div>
</div>
</div>
<footer>
    <div class="footer">
        <ul>
            <li><a href="">Meta</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Jobs</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">API</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Terms</a></li>
            <li><a href="">Topn Accounts</a></li>
            <li><a href="">Hashtags</a></li>
            <li><a href="">Location</a></li>
            <li><a href="">Instagram Lite</a></li>
            <li><a href="">Contact Uploading & Non-Users</a></li>
            <li><a href="">Dance</a></li>
            <li><a href="">Food & Drink</a></li>
            <li><a href="">Home and Garden</a></li>
            <li><a href="">Music</a></li>
            <li><a href="">Visual Arts</a></li>
        </ul>
    <div class="inline">
    <div class="dropdown">
        <select name="English" id="">
            <option value="English">Englsih</option>
            <option value="English">Englsih</option>
            <option value="English">Englsih</option>
            <option value="English">Englsih</option>
            <option value="English">Englsih</option>
            <option value="English">Englsih</option>
        </select>
    </div>
    <div class="copy">
    &copy;2022 Instagram from Meta
</div>
</div>
</div>
    </footer>