*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
    font-family: sans-serif;
}
 nav {
    height: 50px;
    background-color: white;
    border: 1px solid grey;
    /* text-align:   center; */
   
}
nav li{
    list-style: none;
   font-size: larger;
   margin: 0px 300px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    height: 475px;
    width: 350px;
    background-color: white;
   margin: 70px auto;
   border: 1px solid grey;
}
.mainbox img{
    border-radius: 115px;
    height: 95px;
    margin: 20px 129px;
}
.text{
    text-align: center;
   
}
.enter{
    text-align: center;
    margin: 0px 25px;
    font-size: smalle;
    color: grey;
}
.secondbox input{
 height: 34px;
width: 310px;
text-align: center;
border: 1px solid grey;
border-radius: 5px;
display: flex;

margin: 12px auto;
}
.login{
    height: 34px;
    width: 310px;
    text-align: center;
    border: 1px solid rgb(129, 204, 233);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(126, 202, 232);
    margin: 12px auto;
    color: white;
}
.reset{
    text-align: center;
    font-size: smaller;
    color:rgb(82, 75, 75);
}
.line hr{ 
    color:aliceblue;
    width: 100px;
    display: inline-flex;
   text-align: right;
   font-size: smaller;
   margin: 12px 28px;
   
}
.creat{
    text-align: center;
    margin: 20px 0px;
}
.box{
    border: 1px solid grey;
    height: 35px ;
    width:100%;
    background-color: whitesmoke;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainbox a{
    text-decoration: none;
    color: black;
}
.footer{
    text-align: center;
    margin: 0px 310px;
}
.footer li{
    display: inline-flex;
    margin: 0px 12px;
    /* font-weight: 1px; */
    font-size: smaller;
    
}
.footer li a{
    text-decoration: none;
    color: grey;
}
.dropdown{
    /* display: inline-flex; */
    margin:12px 0px;
    /* background-color: whitesmoke; */
    
}
.dropdown select{
    background-color: whitesmoke;
    color: grey;
    border: none;
}
.copy{
    margin:12px 0px;
    color: grey;
    font-size: smaller;
}
.inline{
    display: flex;
    text-align: center;
    margin:2px 320px
}