<header>
    <nav>
        <li>Instagram</li>
    </nav>
</header>
<div class="container">
<div class="mainbox">
    <img src="image/lock.png" alt="">
    
    <div class="text" style="color:black" >
        Trouble in log in?
        <br><br>
       <div class="enter" > Enter your email,phone, or username and we'll send you a link to get back into your account.</div>
    </div>
    <div class="secondbox">
        <input type="text" placeholder="Email,Phone, or Username">
        <div class="login">Send Login Link</div>
        <div class="reset">Can't Reset your password</div>
        <br>
        <div class="line">
            <hr>
            OR 
            <hr>
            </div>
    </div>
    <div class="creat" style="margin:5px 0px">
        Create New Account
    </div>
   <a href="index.html"> <div class="box">
        Back To Login
    </div></a>
</div>
</div>
<footer>
<div class="footer">
    <ul>
        <li><a href="">Meta</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Jobs</a></li>
        <li><a href="">Help</a></li>
        <li><a href="">API</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Terms</a></li>
        <li><a href="">Topn Accounts</a></li>
        <li><a href="">Hashtags</a></li>
        <li><a href="">Location</a></li>
        <li><a href="">Instagram Lite</a></li>
        <li><a href="">Contact Uploading & Non-Users</a></li>
        <li><a href="">Dance</a></li>
        <li><a href="">Food & Drink</a></li>
        <li><a href="">Home and Garden</a></li>
        <li><a href="">Music</a></li>
        <li><a href="">Visual Arts</a></li>
    </ul>
<div class="inline">
<div class="dropdown">
    <select name="English" id="">
        <option value="English">Englsih</option>
        <option value="English">Englsih</option>
        <option value="English">Englsih</option>
        <option value="English">Englsih</option>
        <option value="English">Englsih</option>
        <option value="English">Englsih</option>
    </select>
</div>
<div class="copy">
&copy;2022 Instagram from Meta
</div>
</div>
</div>
</footer>
